@import '_variables';

body {
    h1 {
        color: $hopbush;
    }
}

.btn {
    padding: 2px 10px;
    border-radius: 2px;
    display: block;

    &.btn-primary{
        color: $white;
        background-color: $hopbush;
        border: 1px solid $venus;
    }
    &.btn-secondary{
        color:$black;
        background-color: $nebula;
        border: 1px solid $patina;
    }

    &:disabled{
        opacity: $btn-disabled-opacity;
    }
}