@import '_variables.scss';

@mixin button-color ($color) {
    color: $white;
    background-color: $color;
    border: 1px solid $color;
}
.btn {
    padding: 2px 10px;
    border-radius: 2px;
    display: block;
    margin: 10px 0;
    &.case1{
        @include button-color($hopbush);
    }
    &.case2{
        @include button-color($patina);
    }
    &.case3{
        @include button-color($venus);
    }
    &.case4{
        @include button-color($nebula);
    }
    &.case5{
        @include button-color($red);
    }
    &.case6{
        @include button-color($blue);
    }
    &.case7{
        @include button-color($green);
    }
}